textarea {
    width: 100%;
    height: 400px;
    padding: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: vertical;
}
input[type=submit], input[type=button] {
    width: 100%;
    height: 52px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
input[type=text] {
    width: 100%;
    height: 52px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: 32px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    padding: 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#modal {
    left: 50%;
    margin: -250px 0 0 -40%;
    opacity: 1;
    position: absolute;
    top: 50%;
    visibility: visible;
    width: 80%;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

#modal:target{
    opacity: 0;
    top: -50%;
    visibility: hidden;
}

#modal .header, #modal .footer {
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
}

#modal .footer {
    border: none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
    padding-bottom: 48px;
    padding-right: 16px;
    padding-top: 16px;
}

#modal h2 {
    margin: 0;
}

#modal .btn {
    float: right;
    background-position: top;
    height: 32px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
    background-color: orangered;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#modal .copy, #modal .header {
    padding: 15px;
}

.modal-content {
    background: #f7f7f7;
    position: relative;
    z-index: 20;
    border-radius: 5px;
}

#modal .copy {
    background: #fff;
}

#modal .overlay {
    background-color: #000;
    background: rgba(0,0,0,.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}