{{ define "header" }}
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="icon" href="/res/icons/favicon.ico" type="image/x-icon"/ >
        <link rel="stylesheet" href={{ . }}>
    </head>
    <body>
{{ end }}